/* ------------ BODY CSS ------------ */
body {
    background-color: rgb(240, 239, 239);
}

/* ------------ Body of calculator ------------ */
div#container {
    background-color: rgb(173, 170, 170);
    height: 600px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -250px;
}

/* ------------ CSS of the scream ------------ */
div.scream {
    height: 150px;
    width: 450px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 30px;
    left: 30px;
}

textarea.data {
    height: 140px;
    width: 400px;
    position: relative;
    top: 5px;
    left: 25px;
    resize: none;
}

/* ------------ Operation Buttons ------------ */
div.operationButtons{
    height: 390px;
    width: 220px;
    background-color: rgb(62, 141, 86);
    position: absolute;
    top: 190px;
    left: 260px;
}

div.operationButtons button {
    height: 87px;
    width: 57px;
    margin-left: 10px;
    margin-top: 8px;
}

div.operationButtons button.enterButton {
    width: 200px;
}

/* ------------ Numbers Buttons ------------*/
div.numberButtons {
    height: 390px;
    width: 220px;
    background-color: rgb(73, 136, 136);
    position: absolute;
    top: 190px;
    left: 30px;
}


div.numberButtons button {
    height: 87px;
    width: 57px;
    margin-left: 10px;
    margin-top: 8px;
}

div.numberButtons button.zeroButton {
    width: 200px;
}